################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OS_expe2/OS_expe2.VC.VC.opendb
/OS_expe2/.vs/OS_expe2/v14/.suo
